{% extends 'main/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/hotel_detail.css">
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
        }
        .info-content {
            margin: 0;
            font-size: 16px;
            line-height: 18px;
            text-align: justify;
        }
        h3.slogan{
            margin: 10px 0 15px 0;
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            text-transform: uppercase;
            color: #0075FF;
            padding: 0 40px;
        }
        .jumbotron{
            margin-bottom: 5px;
            padding: 20px;            
        }
        .send_email{
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }
        .send_email a{
            color: #0075FF;
            text-decoration: underline;
        }
        .uk-button-primary{
            color: #fff!important;
        }
    </style>
{% endblock %}

{% block navbar %}  
    <header id="header">
        <nav class="navbar navbar-expand-md bg-dark mb-3 col-12 col-md-12">
            <div class="top-search">
                <a href="{{ path('get_room_list', {hotel_id: hotel_id, trip_id: trip_id, is_special: is_special, adult_count: adult_count, children_count: children_count, children_age: children_age} ) }}" class="search-toggle"><i class="fa fa-arrow-left fa-lg"></i></a>
            </div>
            <div class="header-brand-logo">
                <p>Upload a passport photo</p>
            </div>
        </nav>
    </header>
{% endblock %} 

{% block body %}

<div class="jumbotron col-12 col-md-12">
    <img src="../../leisure/images/attention.png" class="center"/>
    <h3 class="slogan">Preliminary information</h3>
    <p class="info_content">
        After you make your travel booking, please send <span style="font-weight: 600;">PASSPORT PHOTOS</span> of all travelers to the email address below, and if your passport has been extended, <span style="font-weight: 600;">A PHOTO OF THE EXTENSION PAGE</span>, as well as the <span style="font-weight: 600;">FIRST NAME and LAST NAME</span> of the person who made the reservation.
    </p>
    <p class="info_content">
        Please note that passport information is required to confirm your trip!
        Also, please read our terms of service.
    </p>
    <p class="send_email">
       <a href="mailto:contact@leisure-team.com?subject=Аяллын%20дугаар%20No.{{trip_id}}"><span uk-icon="mail" style="margin-right: 5px;"></span>contact@leisure-team.com</a>
    </p>
</div>
<div class="jumbotron col-12 col-md-12">  
    <a id="continue" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">
        Understood, continue
    </a>
</div>
<form id="form_confirm" action="{{ path('payment_confirm') }}">
    <input type="hidden" name="total_amount" id="total_amount" value="" />
    <input type="hidden" name="invoice_number" id="invoice_number" value="" />
    <input type="hidden" name="qr_string" id="qr_string" value="" />
    <input type="hidden" name="qr_link" id="qr_link" value="" />

    <input type="hidden" name="car_id" id="car_id" value="" />
    <input type="hidden" name="car_way" id="car_way" value="" />
    <input type="hidden" name="car_direction" id="car_direction" value="" />
    <input type="hidden" name="car_adult_price" id="car_adult_price" value="" />
    <input type="hidden" name="car_child_price" id="car_child_price" value="" />
    <input type="hidden" name="car_total_amount" id="car_total_amount" value="" />

    <input type="hidden" name="user_id" id="user_id" value="{{user_id}}" />
    <input type="hidden" name="adult_count" id="adult_count" value="{{adult_count}}" />
    <input type="hidden" name="children_count" id="children_count" value="{{children_count}}" />
    <input type="hidden" name="children_age" id="children_age" value="{{children_age}}" />
    <input type="hidden" name="params" id="params" value="{{params}}" />
    <input type="hidden" name="trip_id" id="trip_id" value="{{trip_id}}" />
    <input type="hidden" name="hotel_id" id="hotel_id" value="{{hotel_id}}" />
    <input type="hidden" name="is_special" id="is_special" value="{{is_special}}" />
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            
            $("#continue").click(function(){
                var params = JSON.parse($("#params").val());
                createInvoice(params['select_rooms'], params['car_id']);
            });
                
        });
        
        function createInvoice(select_rooms, car_id){
                
                var param = {
                    trip_id : {{trip_id}},
                    adult_count : {{adult_count}},
                    children_count : {{children_count}},
                    children_age : '{{children_age}}',
                    select_rooms : select_rooms,
                    car_id :  car_id,
                };
                
                sendAjaxRequest('{{path('create_invoice')}}', param, function(data, status, xhr){
                    if(status === 'success'){
                        console.log('status: ' + status);
                        console.log(data);

                        $('#user_id').val(data.user_id);
                        $('#total_amount').val(data.invoiceResult.amount);
                        $('#invoice_number').val(data.invoiceResult.invoiceNumber);
                        $('#qr_string').val(data.invoiceResult.qr_string);
                        $('#qr_link').val(data.invoiceResult.qr_link);
                        if(data.car_info !== null){
                            $('#car_adult_price').val(data.car_info.adult_price);
                            $('#car_child_price').val(data.car_info.child_price);
                            $('#car_way').val(data.car_info.way);
                            $('#car_direction').val(data.car_info.car_direction);
                            $('#car_total_amount').val(data.car_total_amount);
                        }

                        $('#form_confirm').submit();
                    }else{
                        console.log('status: ' + status + ', data: ');
                        console.log(data);
                        UIkit.modal.alert("Couldn't create invoice. Status:"+status+", Дата:"+data);
                    }
                }, function(jqXhr, textStatus, errorMessage){
                    console.log('Error' + errorMessage);
                    UIkit.modal.alert("Couldn't create invoice. Error message:"+errorMessage);
                });
            }
    </script>
{% endblock %}